<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="lagInterval" value="1"/>
    <!--<add key="OutputFolderPath" value="D:\BSF_CM\output"/>
    <add key="OutputArchiveFolderPath" value="D:\BSF_CM\archiveOutput"/>-->
    <add key="OutputFolderPath" value="D:\BSF_CM\output"/>
    <add key="OutputArchiveFolderPath" value="C:\CCMSLiveData\DFF\OutputArchive"/>
    <add key="DFFSchedulesFromExecutionTime" value="0"/>
    <add key="DFFSchedulesToExecutionTime" value="23"/>
    <add key="MaxProcessor" value="1"/>
    <add key="ftpURL" value="ftp://127.0.0.1"/>
    <add key="ftpUsrName" value=""/>
    <add key="ftpPassword" value=""/>
    <add key="isEjManagementEnabled" value="0"/>
    <add key="initEJCheckTime" value="05:00"/>
    <add key="byPassTimeCheck" value="1"/>
    <add key="trxnTimeDifference" value="2"></add>
	<add key="EnableWithdrawalParsing" value="0" />
	<add key="EnableDepositParsing" value="0" />
    <add key="allowableMonths" value="-1"/>
    <add key="smartProcessingEnabled" value="0"/>
    <add key="shortestJobProcessingEnabled" value="0"/>
    <add key="updateReplenishmentEnabled" value="0"/>
    <add key="ignoreDisputeStatus" value="STD100,STD2470,STDCF2"/>
    <add key="depositTrxnRegexFilePath" value="c:\program files\ncr\ccms\ccmsEjParser\depositTrxn.dll"/>
    <add key="normalTrxnRegexFilePath" value="c:\program files\ncr\ccms\ccmsEjParser\normalTrxn.dll">
    </add>
    <add key="mergeLastDownloadedEjEnabled" value="1"/>
    <add key="isExtractForCurrentMonth" value="1">
    </add>
    <add key="failedTrxnToken" value="DEVICE ERROR">
    </add>
    <add key="extractFailureReason" value="1"/>
    <add key="CashDeposittoAccount" value="CASH DEPOSIT TO ACCOUNT"/>
    <add key="CreditCardPaymentbyCash" value="CREDIT CARD PAYMENT BY CASH"/>
    <add key="ChequeDeposittoAccount" value="CHEQUE DEPOSIT TO ACCOUNT"/>
    <add key="CreditCardPaymentbyCheque" value="CREDIT CARD PAYMENT BY CHEQUE"/>
    <add key="LoanAccountDeposit" value="LOAN ACCOUNT INQUIRY"/>
    <add key="DFFGenerationTime" value=""/>
    <add key="isEJSummaryEnabled" value="0"/>
    <add key="keepOneCashDataStoreName" value=""/>
    <add key="disputeTrxnToken" value=""/>
    <add key="CcmsParserRefreshInterval" value="5"/>
    <add key="IsToConsiderReceiptError" value="false"/>
    <add key="IsUnicode" value="false"/>
    <add key="MaxBackLoopProccessingForEJ" value="1"/>
    <add key="OffsetToCheckClearDepositCountEventInMin" value="10"/>
    <add key="IsToParseNormalTransactions" value="true"/>
    <add key="IsToParseDepositTransactions" value="true"/>
    <add key="IsCustomization" value="false"/>
    <add key="ForcedYesterdayCounters" value="true"/>
    <add key="ThreadWaitTimeToAbortInMin" value="60"/>
    <add key="NoOfNotesVariationInReplenishment" value="10"/>
    <add key="IsBackCheckForReplenishment" value="false"/>
    <add key="recyclerCDMNumber" value="1"/>
	  <add key="View360Url" value="localhost/EView360/api/ServiceCommunication"/>
	  <add key="EjParserQueueName" value="EjParserQueue"/>
    <!--1 or 2-->
    <add key="nonRecyclerCDMNumber" value="2"/>
    <!--1 or 2-->
    <!--DP Keys-->
    <add key="IsUnicode_LE_BOM" value="false"/>
    <add key="requestKeyword" value="REQ:">
    </add>
    <add key="responseKeyword" value="RES:">
    </add>
    <add key="cashPaymentServiceName" value="completePaymentService">
    </add>
    <add key="successfulTrxnToken" value="Successful,9999"/>
    <add key="transactionsToIgnore" value="SEND OTP">
    </add>
    <add key="servicesForNonCashTransactions" value="LOGVISIT|logRequest|getAppDtlsByCustLogId|SaveBouncedChequeQues|CreateVictimSupportRe|GetCircularsByEmirate|SaveHumanTraffickingR|SaveLabourComplaint|saveHomeSecurityReque|SaveLeadersAtYourServ|saveSpecialNeedsReque|saveTouristSecurityRe">
    </add>
    <!--DP Keys-->
    <add key="IsCardCaptureExtracted" value="false"/>
    <add key="TrxnsMarginalIntervalInSeconds" value="55"/>
    <add key="IsEJToCounterMap" value="true"/>
    <add key="EncodingUsedInEJ" value="Successful,9999"/>
    <add key="checkEjDataForAlert" value="true"/>
    <add key="EJnotDownloadedForHours" value="8"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
