<?xml version="1.0"?>
<configuration>
  <appSettings>
     <add key="workerThreadsCount" value="400"></add>
     <add key="ListeningPort" value="16328"/>
    <add key="IsSsl" value="0"/>
    <add key="CertificatePath" value="C:\Program Files\NCR\ATM360\Certificate\atm360.pfx"/>
   


  </appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
