<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Configuration>
  <ControlEncodingContexts>
    <!--<ControlEncodingContext FullClassName="System.Web.UI.Page" PropertyName="Title" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.Label" PropertyName="Text" EncodingContext="Html" />-->
    <ControlEncodingContext FullClassName="System.Web.UI.Page" PropertyName="Title" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.Label" PropertyName="Text" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.Literal" PropertyName="Text" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.HyperLink" PropertyName="Text" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.HtmlControls.HtmlAnchor" PropertyName="InnerText" EncodingContext="SafeHtml" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.LinkButton" PropertyName="Text" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.HtmlControls.HtmlHead" PropertyName="Title" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.HtmlControls.HtmlImage" PropertyName="Src" EncodingContext="HtmlAttribute" />
    <ControlEncodingContext FullClassName="System.Web.UI.HtmlControls.HtmlInputImage" PropertyName="Src" EncodingContext="HtmlAttribute" />
    <ControlEncodingContext FullClassName="System.Web.UI.HtmlControls.HtmlInputRadioButton" PropertyName="Value" EncodingContext="HtmlAttribute" />
    <ControlEncodingContext FullClassName="System.Web.UI.HtmlControls.HtmlTitle" PropertyName="Text" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.Calendar" PropertyName="Caption" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.CheckBox" PropertyName="Text" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.LinkButton" PropertyName="Text" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.RadioButton" PropertyName="Text" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.RadioButtonList" PropertyName="Text" EncodingContext="Html" />

  </ControlEncodingContexts>
  <DoubleEncodingFilter Enabled="True" />
  <EncodeDerivedControls Enabled="True" />
  <MarkAntiXssOutput Enabled="False" Color="Yellow"/>
</Configuration>