<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null" />
        <section name="crystalReportViewer" type="System.Configuration.NameValueSectionHandler" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true" />
      </rptBuildProvider>
      <crystalReportViewer>
        <add key="ResourceUri" value="~/crystalreportviewers13" />
      </crystalReportViewer>
    </crystalReports>
  </businessObjects>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpModules>
      <add name="AntiXssModule" type="Microsoft.Security.Application.SecurityRuntimeEngine.AntiXssModule" />
    </httpModules>
    <httpCookies requireSSL="true" httpOnlyCookies="true" />
    <httpRuntime enableVersionHeader="false" maxRequestLength="1073741824" />
    <!--<customErrors mode="RemoteOnly" defaultRedirect="~/ErrorPage.aspx"/>-->
    <customErrors mode="Off" />
    <sessionState timeout="15" cookieSameSite="Strict" />
    <authentication mode="Windows" />
    <!--<authorization>
             <deny users="?"/>
          </authorization>-->
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
       
   during development.
    -->
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <!--<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>-->
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpHandlers>
      <add path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="true">
    </pages>
    <identity impersonate="false" />
  </system.web>
  <location allowOverride="true" inheritInChildApplications="true">
    <appSettings>
      <add key="DFFFileNameConvention" value="QIB[yyyyMMdd].atm.wrk" />
      <add key="DefaultInactivityPeriod" value="500" />
      <add key="CrystalImageCleaner-AutoStart" value="true" />
      <add key="CrystalImageCleaner-Sleep" value="60000" />
      <add key="CrystalImageCleaner-Age" value="120000" />
      <add key="UseASCIIEncodingForEj" value="true" />
      <add key="ConfiguredCassettes" value="1,1,1,1" />
      <add key="ConfiguredCassettesDenomination" value="QAR50,QAR100,QAR500,QAR5" />
      <add key="SecondsBetweenTransacionsInEJAndCCMS" value="300" />
      <add key="ChartImageHandler" value="storage=memory;" />
      <add key="domain" value="corp" />
      <add key="username" value="" />
      <add key="password" value="" />
      <add key="googleMapZoom" value="13" />
      <add key="aspnet:MaxHttpCollectionKeys" value="2000" />
      <add key="isEJEnabled" value="0" />
      <add key="zipPassword" value="" />
      <add key="isXmlFile" value="0" />
      <add key="isCounterOptionDisabled" value="0" />
      <add key="limitToMergeFile" value="30" />
      <add key="isPurgeCountsVisibleOnTrxnScreen" value="1" />
      <add key="LDAPPath" value="" />
      <add key="isDeadATMExcluded" value="0" />
      <add key="isScheduleCreationEnabled" value="1" />
      <add key="isRunningForPNC" value="0" />
      <add key="isHostTsnEnable" value="true" />
      <add key="bankID" value="2" />
      <add key="isRunningForNasserBank" value="0" />
      <add key="AssignATMToAllUsers" value="0" />
      <add key="readDomainFromAppSetting" value="1" />
      <add key="OffsetTimeInMin" value="5" />
      <add key="powerMonitoringAlias" value="" />
      <add key="isTreeviewNodeExpanded" value="0" />
      <add key="traceOrganizationMCN" value="" />
      <add key="isMultiInstitution" value="0" />
      <add key="keepOneCashDataStoreName" value="" />
      <add key="ApplicationID" value="249" />
      <add key="Group1" value="719" />
      <add key="Group2" value="720" />
      <add key="Group3" value="721" />
      <add key="Group4" value="722" />
      <add key="Group5" value="723" />
      <add key="securityServiceWebURL" value="https://10.40.100.23/securityLoginv.2/login.aspx" />
      <add key="isSecurityWebServiceEnabled" value="0" />
      <add key="proxyServiceURL" value="http://10.40.100.23/login_webservice_v1.2/service.asmx" />
      <add key="jpsDBName" value="JPSITS1" />
      <add key="ccmsDBName" value="ccms1" />
      <add key="CheckSignInAttempts" value="1" />
      <add key="RetryAttemptCheck" value="5" />
      <add key="citIdRequiresPadding" value="0" />
      <add key="isRunningForADCB" value="0" />
      <add key="atmTitlePrefix" value="AHB0" />
      <add key="enablemakeachecker" value="false" />
      <add key="threadTimeout" value="250" />
      <add key="IsBankNameEnable" value="false" />
      <add key="IsEncodeSignIn" value="true" />
      <add key="CashReportSheetName" value="sheet1" />
      <add key="LoadHomePage" value="true" />
      <!--using for DUBAI POLICE ONLY -->
      <add key="UseUnicodeForEj" value="false" />
      <!--using for Organizations having Cassettes more than 4 -->
      <add key="NoOfCassettes" value="4" />
      <!--using for ADIB: TRUE means Dispensed24Hour column will display on Grids -->
      <add key="IsShowDispensed24Hour" value="true" />
      <add key="IsShowLastTsn" value="false" />
      <!--using for BISB / Remove the keys for other banks -->
      <add key="excelContentType" value="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;application/vnd.ms-excel;application/octet-stream" />
      <add key="LDAPLogonType" value="3" />
      <add key="LDAPLogonProvider" value="0" />
      <add key="useDirectoryEntryForLogin" value="false" />
      <!--using for BISB -->
      <!--using for QIB Deposit Denomination Detail -->
      <add key="IsDisplayDepositDenomination" value="false" />
      <!--using for iCam -->
      <add key="IsiCam" value="false" />
      <add key="DBFileUploadCheck" value="1" />
      <add key="ViewDataPackagesDB" value="View360Packages" />
      <!--<add key="reportDateFormat" value="dd/MM/yyyy"/>-->
    </appSettings>
    <system.webServer>
      <security>
        <requestFiltering removeServerHeader="true">
          <requestLimits maxAllowedContentLength="334217728" />
          <verbs allowUnlisted="true">
            <add verb="OPTIONS" allowed="false" />
            <add verb="TRACE" allowed="false" />
            <add verb="DELETE" allowed="false" />
            <add verb="PUT" allowed="false" />
            <add verb="MOVE" allowed="false" />
            <add verb="TRACK" allowed="false" />
          </verbs>
        </requestFiltering>
      </security>
      <httpProtocol>
        <customHeaders>
          <remove name="X-Powered-By" />
          <add name="X-Content-Type-Options" value="nosniff" />
        </customHeaders>
      </httpProtocol>
      <validation validateIntegratedModeConfiguration="false" />
      <handlers accessPolicy="Read, Execute">
        <remove name="ChartImageHandler" />
        <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </handlers>
    </system.webServer>
  </location>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportSource" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Web" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Windows.Forms" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.ClientDoc" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.CommonControls" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.CommonObjectModel" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.Controllers" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.CubeDefModel" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.DataDefModel" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.DataSetConversion" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.ObjectFactory" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.Prompting" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.ReportDefModel" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.XmlSerialize" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>