USE [Core]
GO
/****** Object:  StoredProcedure [dbo].[DeleteNoteSetType]    Script Date: 6/20/2023 10:06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[DeleteNoteSetType] 
@NoteSetTypeIds varchar(max)
AS
BEGIN
	SET NOCOUNT ON;
	declare @sql varchar(max);
	set @sql = N'delete from note_set_type where note_set_type_id in ('+ @NoteSetTypeIds +')';
	Exec(@sql);
	select @@ROWCOUNT;
END