USE [Core]
GO
/****** Object:  StoredProcedure [dbo].[GetEditedAtms]    Script Date: 6/20/2023 4:40:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[GetEditedNoteSetType] 
AS
BEGIN
	SET NOCOUNT ON;
	Select * from note_set_type where is_edited = 1 ;
END
