USE [Core]
GO
/****** Object:  StoredProcedure [dbo].[GetAllAtms]    Script Date: 6/20/2023 6:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[GetAllNoteSetType] 
AS
BEGIN
	SET NOCOUNT ON;
	declare @sql varchar(max);
	set @sql = N'select * from note_set_type ';
	Exec(@sql);
	select @@ROWCOUNT;
END