USE [Core]
GO
/****** Object:  StoredProcedure [dbo].[UpdateAtmsInfo]    Script Date: 6/20/2023 4:51:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[UpdateNoteSetTypeInfo]
@NoteSetTypeInfo NoteSetType_table_type  READONLY
 as
 update e set 
 e.region_id=d.region_id,
 e.note_set_type_name =d.note_set_type_name,
 e.denomination_type_1=d.denomination_type_1,
 e.denomination_type_2=d.denomination_type_2,
 e.denomination_type_3=d.denomination_type_3,
 e.denomination_type_4=d.denomination_type_4,
 e.denomination_type_5= d.denomination_type_5,
 e.denomination_type_6=d.denomination_type_6,
 e.denomination_type_7=d.denomination_type_7,
 e.created_by=d.created_by,
 e.denomination_type_1_title =d.denomination_type_1_title,
 e.denomination_type_2_title=d.denomination_type_2_title,
 e.denomination_type_3_title=d.denomination_type_3_title,
 e.denomination_type_4_title=d.denomination_type_4_title,
 e.denomination_type_5_title=d.denomination_type_5_title,
 e.denomination_type_6_title=d.denomination_type_6_title,
 e.denomination_type_7_title=d.denomination_type_7_title,
 e.creation_time=d.creation_time,
 e.is_type2_multi_currency=d.is_type2_multi_currency,
 e.is_type3_multi_currency=d.is_type3_multi_currency,
 e.is_type4_multi_currency =d.is_type4_multi_currency,
 e.is_type5_multi_currency=d.is_type5_multi_currency,
 e.is_type6_multi_currency=d.is_type6_multi_currency,
 e.is_type7_multi_currency=d.is_type7_multi_currency,
 e.is_type1_recycler=d.is_type1_recycler,
 e.is_type2_recycler=d.is_type2_recycler,
 e.is_type3_recycler = d.is_type3_recycler,
 e.is_type4_recycler = d.is_type4_recycler,
 e.is_type5_recycler = d.is_type5_recycler,
 e.is_type6_recycler = d.is_type6_recycler,
 e.is_type7_recycler = d.is_type7_recycler,
 e.is_edited = 0
 from note_set_type e,@NoteSetTypeInfo d
 where e.note_set_type_id=d.note_set_type_id 


 go

 USE [Core]
GO
/****** Object:  StoredProcedure [dbo].[UpdateEditedNoteSetTypeInfoInCore]    Script Date: 6/20/2023 10:11:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[UpdateEditedNoteSetTypeInfoInCore] 
@NoteSetTypeID varchar(max)
AS
BEGIN
	SET NOCOUNT ON;
	declare @sql varchar(max);
	set @sql = N'update note_set_type set is_edited = 0 where note_set_type_id in ('+ @NoteSetTypeID +')';
	Exec(@sql);
	select @@ROWCOUNT;
END
