<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="workerThreadsCount" value="400"></add>
    <add key="uploadFolder" value="C:\View360LiveData\Temp\Uploads"/>
    <add key="MaxThreads" value="1000"/>
    <add key="ThreadTimeOut" value="10000"/>
    <add key="CashDB" value="Cash"/>
    <add key="TxDB" value="Tx"/>


  </appSettings>
  
   
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
