<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DFFSchedulesFromExecutionTime" value="0"/>
    <add key="DFFSchedulesToExecutionTime" value="23"/>
    <add key="resolve" value="0"/>
    <add key="forceRejectMonth" value="0"/>
    <add key="forcedSuspectedTestCashEntryFailed" value="1"/>
    <add key="DFFConnectTimeout" value="30"/>
    

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
  </runtime>
</configuration>
